coverage==7.2.7
exceptiongroup==1.2.0
importlib-metadata==6.7.0
iniconfig==2.0.0
packaging==23.2
pluggy==1.2.0
pytest==7.4.4
pytest-cov==4.1.0
pytest-mock==3.11.1
pytest-timeout==2.2.0
tomli==2.0.1
typing_extensions==4.7.1
zipp==3.15.0
